{
	"extends": [
		"stylelint-config-standard-scss",
		"stylelint-config-recommended-vue/scss",
		"stylelint-config-clean-order"
	],
	"overrides": [
		{
			"files": ["*.vue", "**/*.vue"],
			"rules": {
				"no-descending-specificity": null,
				"font-family-no-missing-generic-family-keyword": null,

				"property-no-vendor-prefix": null,
				"rule-empty-line-before": null,
				"custom-property-empty-line-before": null,
				"color-function-notation": null,
				"alpha-value-notation": null,
				"hue-degree-notation": null,
				"value-keyword-case": null,
				"font-family-name-quotes": null,
				"selector-pseudo-element-colon-notation": null,
				"selector-not-notation": null,
				"declaration-block-no-redundant-longhand-properties": null,
				"function-url-quotes": null,
				"comment-empty-line-before": null
			}
		}
	]
}
