@font-face {
	font-family: Involve;
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local('Involve-Regular'), local('Involve-Regular'), url('Involve-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Involve;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: local('Involve-Medium'), local('Involve-Medium'), url('Involve-Medium.ttf') format('truetype');
}

@font-face {
	font-family: Involve;
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: local('Involve-SemiBold'), local('Involve-SemiBold'), url('Involve-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: Involve;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: local('Involve-Bold'), local('Involve-Bold'), url('Involve-Bold.ttf') format('truetype');
}
