:root {
  /* z-indexes */
  --z-0: 0;
  --z-1: 1;
  --z-2: 2;
  --z-3: 10;
  --z-4: 20;

  /* transitions */
  --transition-animation: all 0.3s ease;


  /* shadows and filters */
  --box-shadow-normal: 0 4px 8px var(--color-shadow-004), 0 0 2px var(--color-shadow-006),
  0 0 1px var(--color-shadow-004);
  --box-shadow-super: 0 0 1px 0 var(--color-shadow-004), 0 0 2px 0 var(--color-shadow-006),
  0 4px 8px 0 var(--color-shadow-004), 0 0 1px 0 var(--color-shadow-004),
  0 0 2px 0 var(--color-shadow-006), 0 4px 8px 0 var(--color-shadow-004);
  --box-shadow-up: -5.057px 4.046px 5.866px 0 rgb(0 0 0 / 25%);
  --filter-super: drop-shadow(0px 4px 8px var(--color-shadow-004))
  drop-shadow(0px 0px 2px var(--color-shadow-006))
  drop-shadow(0px 0px 1px var(--color-shadow-004))
  drop-shadow(0px 4px 8px var(--color-shadow-004))
  drop-shadow(0px 0px 2px var(--color-shadow-006))
  drop-shadow(0px 0px 1px var(--color-shadow-004));

  // gradient
  --gradient-green-1: linear-gradient(108deg, #D9F9AB 1.56%, #85E4A0 26.82%, #7BE19F 44.33%, #BBF1AB 68.37%, #DFFAB1 94.23%);

  // borders
  --br-14: 14px;
}
